# Depedency Directory
logs
vendor
.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.cov
cover.html
cover.txt

# Local configs
debug
config.yaml
gin-bin
.idea